:host ::ng-deep {

    @media (min-width: 1200px) {
        .p-card {
            width: 1170px;
            margin: 15px auto;
            
        }
    }

    .validation-error p {
        color: red;
        font-size: 12px;
        margin-top: 0;
        padding-left: 0.2em;
    }
    
}